/* Style to the header */
.header {
    background-image: url("walters-hero-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0F2534;
    width: 100%;
    padding: 25px;
    height: 165px;
    text-align: center;
    color: white;
}
